# server config
NODE_ENV=development

# database
MONGODB_URI=mongodb+srv://<usuario>:<password>@okutask-main.wupbmcu.mongodb.net/okutask?retryWrites=true&w=majority

# JWT
JWT_SECRET=<tu_secreto_jwt>
JWT_EXPIRE=30d

# client
CLIENT_URL=http://localhost:5173

# microservices - ports
GATEWAY_PORT=3000
AUTH_PORT=3001
PROJECTS_PORT=3002
TASKS_PORT=3003
NOTIFICATIONS_PORT=3004
CHAT_PORT=3005

# microservices - internal urls
AUTH_SERVICE_URL=http://localhost:3001
PROJECTS_SERVICE_URL=http://localhost:3002
TASKS_SERVICE_URL=http://localhost:3003
NOTIFICATIONS_SERVICE_URL=http://localhost:3004
CHAT_SERVICE_URL=http://localhost:3005